.menu {
  --button-color: #3a3a3c;
  --button-text-color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #00000099;
  z-index: 1;
}

.menu__title {
  font-size: 100px;
  color: #ffd537;
  margin-bottom: 50px;
  cursor: default;
}

.menu__button {
  margin-top: 50px;
  font-family: 'KarmaSuture';
  background-color: var(--button-color);
  border: 4px solid black;
  box-shadow: 3px 5px black;
  color: var(--button-text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.menu__button:hover {
  box-shadow: 8px 10px black;
  transform: translate(-5px, -5px);
}

.menu__button:active {
  box-shadow: 3px 5px black;
  transform: translate(0, 0);
}

.menu__button:focus {
  outline: none;
}

.menu__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.menu__button--green {
  background-color: #5fb124;
}

.menu__score {
  font-size: 80px;
  color: white;
}

.menu__new-record {
  font-family: 'KarmaSuture';
  color: red;
  font-size: 35px;
}

.menu__best {
  font-family: 'KarmaSuture';
  margin-top: 25px;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.menu__calibration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 350px;
}

.menu__calibration-label {
  font-family: 'KarmaSuture';
  color: white;
  font-size: 20px;
}

.menu__scores {
  font-family: 'KarmaSuture';
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu__scores-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
  margin-bottom: 10px;
}

.menu__scores-username {
  margin-right: 80px;
}

.menu__scores-item--green {
  color: rgb(0, 199, 0);
}
