.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #00000099;
  z-index: 1;
}

.menu__title {
  font-size: 100px;
  color: #ffd537;
  margin-bottom: 50px;
  cursor: default;
}

.menu__button-start {
  margin-top: 50px;
  font-family: 'KarmaSuture';
  background-color: #5fb124;
  border: 2px solid black;
  box-shadow: 3px 5px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.menu__button-scores {
  margin-top: 50px;
  font-family: 'KarmaSuture';
  background-color: #3a3a3c;
  border: 2px solid black;
  box-shadow: 3px 5px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.menu__score {
  font-size: 80px;
  color: white;
}

.menu__new-record {
  font-family: 'KarmaSuture';
  color: red;
  font-size: 35px;
}

.menu__best {
  font-family: 'KarmaSuture';
  margin-top: 25px;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.menu__calibration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 350px;
}

.menu__calibration-label {
  font-family: 'KarmaSuture';
  color: white;
  font-size: 20px;
}

.menu__scores {
  display: flex;
  flex-direction: row;
  font-family: 'KarmaSuture';
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu__scores-username {
  margin-right: 80px;
}